@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	background-color: #f5f7fa;
}
.wrapper {
	display: -webkit-flex;
	display: flex;
	margin: 2em auto;
	max-width: 1200px;
	box-shadow: 5px 9px 20px rgba(0, 0, 0, 0.15);
	background-color: #ffffff;
	font-family: Montserrat;
	font-size: 14px;
	font-weight: 400;
	line-height: 24px;
	letter-spacing: 0.42px;
}
.sidebar {
	-webkit-flex: initial;
	flex: initial;
	width: 30,83%;
	padding-top: 40px;
	background-color: #1e2939;
	color: white;
}
.my-photo {
	width: 100%;
	height: auto;
}
.contact-title {
	font-size: 22px;
}
.contact-link {
	font-size: 14px;
	opacity: 0.5;
	color: #ffffff;
}
.contact-link-type {
	margin-right: 10px;
}
.contact-container .contact-item:nth-child(2) .contact-link {
	text-decoration: none;
}

.contact-container, .tech-skills-container, .soft-skills-container {
	margin-left: 40px;
	margin-top: 54px;
}
.contact-title, .tech-skills-title, .soft-skills-title {
	margin-bottom: 10px;
}

.tech-skills-list, .soft-skills-list {
	padding-left: 0;
}
.tech-skills-item, .soft-skills-item {
	list-style-type: none;
}
.tech-skills-item:before,
.soft-skills-item:before {
    color: #ff6b08 ;/* Цвет маркера */
	content: "\2022"; /* Сам маркер */
	font-size: 20px;
    padding-right: 5px; /* Расстояние от маркера до текста */
   }

.main-container {
  	-webkit-flex: 1;
		  flex: 1;
	margin-top: 90px;
	margin-left: 90px;
}
.about-me-profession {
	font-size: 18px;
	font-weight: 700;
	margin-bottom: 20px;
}
.about-me-title {
	font-size: 45px;
	font-weight: 700;
	margin-bottom: 50px;
}
.about-me-text {
	max-width: 570px;
	margin-bottom: 10px;
	text-align: justify;
	color: #595959;
}
.about-me-highlighting {
	font-weight: 700;
	color: #ff6b08;
}

.project-container {
	margin-top: 64px;
}
.project-title, .work-experience-title, .education-title  {
	font-size: 22px;
	font-weight: 700;
	margin-bottom: 12px;
}
.project-list {
	margin: 0 0 24px;
	padding-left: 18px;
	font-weight: 700;
}
.project-item-link {
	text-decoration: none;
	color: #595959;
	font-weight: 500;
}
.project-item-link:hover {
	color: #0066cc;
}
.project-item-text{
	color: #595959;
	font-weight: 500;
}
.work-experience-container, .education-container {
	margin-top: 55px;
}
.company-title {
	font-size: 16px;
	font-weight: 700;
	letter-spacing: 0.48px;
	margin-bottom: 10px;
}
.company-position-highlighting,
.educational-institution-title {
	color: #ff6b08;
}
.company-period,
.educational-institution-period {
	color: #a8a8a8;
	font-size: 12px;
	font-weight: 400;
	letter-spacing: 0.36px;
}
.company-list {
	max-width: 600px;
	margin: 5px 0 24px;
	padding-left: 18px;
}
.educational-institution-specialty {
	margin: 5px 0 0;
}
.education-container {
	margin-bottom: 110px;
}
.educational-institution {
	margin-bottom: 20px;
}
.educational-institution-link {
	color: black;
	text-decoration: none;
}
.educational-institution-link:hover {
	color: #0066cc;
}